@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #4A4A4A !important;
}

code {
  font-family: 'Open Sans', sans-serif;
}